.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.login-main{
    width: 100vw;
  
    justify-content: center;
    align-items: center;
    display: flex;
}

.input1{
    margin: 12px 0 ;
}

/* .content{
    max-height: 500px;
} */

.img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.margin-login{
    margin: 30px;
}