<div class="main sticky-top">
<nav class=" navbar navbar-expand-sm  bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand">BloRag</a>
      
   
        <ul class="navul">
          <li >
            <a class="nav-link active text-light" routerLink="/home" aria-current="page" href="#">Home</a>
          </li>
          <li >
            <a class="nav-link active text-light" routerLink="/login" aria-current="page" href="#"> Login</a>
          </li>
          <li >
            <a class="nav-link active text-light" routerLink="/register" aria-current="page" href="#"> Register</a>
          </li>
         
        </ul>
      </div>
  
  </nav>
</div>
  <router-outlet></router-outlet>