<div class="login-main  content">
    <div class="row margin-login ">
             
             <div class="login col-md-6 col-lg-6 col-sm-12">
                 <h3 class="my-4">Login</h3>
                 <form class="form" action="" ngform>
                    <div class="input-group my-3">
                        <span class="input-group-text" id="basic-addon1">Email</span>
                        <input type="email" name="email" class="form-control" placeholder="Email"  [(ngModel)]="email" aria-label="Username" aria-describedby="basic-addon1">
                    <!-- <input class="input1"  type="email" name="email" [(ngModel)]="email" placeholder="Enter Your Email"> -->
                    </div>
                    <div class="input-group my-3">
                        <span class="input-group-text" id="basic-addon1">Password</span>
                    <input class=" form-control" type="password" name="password" [(ngModel)]="password" aria-describedby="basic-addon1" placeholder="Enter Your password">
                    </div>
                    <button (click)="login()" class="btn btn-dark input1">Login</button>
                    <h6 class="my-20 input1">Don't have an account ?</h6>
                    <button (click)="registerClick()" class="btn btn-light input1">Register</button>
                 </form>


             </div>
             
             <div class="login-image col-md-6 col-lg-6 col-sm-12">
                <img class ="img" src="../../../assets/login.webp" alt="">
             </div>



    </div>



</div>
